.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spacedItemsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

  padding: 8px 0;
}

.pageTitle {
  color: var(--gray-900, #111928);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  margin: 0;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  margin: 16px 0;
}
.cardFirstContainer {
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  margin: 16px 0;
}
@media (max-width: 1024px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .cardFirstContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .cardContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
  .cardFirstContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.card {
  padding: 24px;

  border-radius: var(--rounded-lg, 8px);
  background: var(--white, #fff);

  /* shadow */
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.card svg {
  margin-right: 16px;
}

.cardText {
  flex-grow: 1;
}

.cardText h2 {
  color: var(--gray-500, #6b7280);

  /* leading-tight/text-sm/font-normal */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 17.5px */

  margin: 0;
}

.cardText p {
  color: var(--gray-900, #111928);

  /* leading-tight/text-3xl/font-bold */
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 37.5px */
  margin: 0;
}
.revenues {
  padding: 12px 24px;

  border-radius: var(--rounded-lg, 8px);
  background: var(--white, #fff);

  /* shadow */
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.cardReven h2 {
  color: var(--gray-500, #6b7280);

  /* leading-tight/text-sm/font-normal */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 17.5px */

  margin: 0;
}

.cardReven p {
  color: var(--gray-900, #111928);

  /* leading-tight/text-3xl/font-bold */
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 37.5px */
  padding-top: 10px;
  margin: 0;
}

.countriesCard {
  padding: 24px;
  border-radius: var(--rounded-lg, 8px);
  background: var(--white, #fff);

  /* shadow */
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);

}

.countriesCard h3 {
  color: var(--gray-500, #6b7280);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

.country {
  margin-top: 16px;
  display: flex;
  justify-content: flex-start;

  align-items: center;
}

.country img {
  border-radius: 50%;
  margin-right: 16px;
  width: 32px;
  height: 32px;

  object-fit: cover;
  box-shadow: 0.5px 0.5px 10px 0px rgba(0, 0, 0, 0.2);
}

.country span {
  color: var(--gray-900, #111928);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */

  flex-grow: 1;
}

.country p {
  color: var(--gray-500, #6b7280);
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px; /* 131.25% */
}

.currencyText {
  color: var(--gray-900, var(--gray-900, #111928));

  /* leading-tight/text-3xl/font-bold */
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 37.5px */
}

.therapyAreaContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.therapyArea {
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
  margin-bottom: 16px;
  min-width: 140px;
}
.contanerSelect{
  display: flex;
  gap: 20px;
}

.therapyArea h3 {
  color: var(--gray-900, #111928);

  /* text-base/font-medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

.therapyArea h4 {
  color: var(--gray-900, #111928);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
  letter-spacing: -0.32px;

  margin: 0;
}
.cardTotal{
  padding: 24px;

  border-radius: var(--rounded-lg, 8px);
  background: var(--white, #fff);

  /* shadow */
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  width: min(340px, 80vw);
  flex-wrap: wrap;
  background: white;
}
.cardRevenues{
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  margin: 16px 0;
}
.select_box{
  min-width: 200px;
}

@media (max-width: 1024px) {
  .cardRevenues {
    grid-template-columns:  1fr;
  }
}

@media screen and (max-width: 768px) {
  .cardRevenues {
    grid-template-columns: 1fr;
  
  }
  .contanerSelect{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .select_box{
    width: 100%;
    margin-top: 10px;
    height: 40px !important;
  }
}
@media only screen and (max-width: 768px) {
  .pageTitle {
    font-size: 20px;
  }
 
  .spacedItemsContainer {
    /* justify-content: center; */
    margin-top: 16px;
  }

  .cardContainer {
    justify-content: center;
  }

}

.revenTitle{
  margin-block-start: 0 !important;
  margin-block-end: 5px !important;
}