.pnwrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.pathname {
    position: absolute;
    z-index: 99;
    right: 50%;
    top: 100%;
    transform: translateX(50%);
    min-width: 100px;
    background: white;
    opacity: 0;
    word-break: keep-all;
    padding: 4px 4px; 
    border-radius: 2px;
    color: black;
    font-size: 10px;
    display: flex;
    justify-content: center;
}
.pnwrapper:hover .pathname{
    opacity: 1;
}